.cast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding-left: 50px;
}

.castHeader {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.castTitle {
    background: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
}
.castBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}

.castActor {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.castPoster {
    height: 225px;
    width: 150px;
}

.castActorName, .castCharacterName {
    font-size: 16px;
    width: 150px;
}

@media (max-width: 920px) {
    .castTitle {
        font-size: 24px;
    }

    .castPoster {
        height: 180px;
        width: 120px;
    }

    .castActor {
        margin-right: 20px;
    }

    .castActorName, .castCharacterName {
        font-size: 14px;
        width: 120px;
    }
}
@media (max-width: 500px) {
    .cast{
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .castHeader {
        margin-bottom: 10px;
    }
    .castTitle {
        font-size:18px;
    }

    .castPoster {
        height: 105px;
        width: 70px;
    }

    .castActor {
        margin-right: 5px;

    }

    .castActorName, .castCharacterName {
        font-size: 10px;
        width: 70px;
    }
}