.moviePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #032a4b;
}

.movie {
    height: 100%;
    display: flex;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.imageMoviePage {
    margin: 20px;
    height: 300px;
    width: 200px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    width: 700px;

}

.movieTitle {
    font-size: 24px;
}

.movieRating {
    font-size: 18px;
    margin-top: 10px;
    color: #f0ff00;
}

.movieOverview {
    margin-top: 10px;
    font-size: 20px;
}

.otherDetails {
    margin-top: 20px;
    font-size: 18px;
}

.otherDetails p {
    margin-top: 5px;
}

.movieTrailer {
    width: 700px;
    height: 394px;
    margin: 20px;
}

@media (max-width: 920px) {
    .imageMoviePage {
        margin: 10px;
        height: 240px;
        width: 160px;
    }
    .movieTrailer {
        width: 540px;
        height: 304px;
        margin: 10px;
    }

    .movieInfo {
        margin: 10px;
        width: 540px;
    }

    .movieTitle {
        font-size: 20px;
    }

    .movieOverview, .movieRating, .otherDetails {
        font-size: 16px;
    }
}