.movieCatalog {
    background: #545e77;
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.catalogBanner {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogBackground {
    background: url("../../img/01_cinema.jpeg") center center/cover no-repeat;
    mask-image: linear-gradient(to bottom, rgba(89, 94, 119, 1), rgba(84, 94, 119, 0));
    width: 100%;
    height: 300px;
}

.catalogBannerTitle {
    position: absolute;
    background: none;
}

.catalogTitle {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fd00ff;
    background: none;
}

.catalogSubtitle {
    background: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.catalogRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 740px) {
    .catalogBanner, .catalogBackground {
        height: 200px;
    }

    .catalogTitle {
        font-size: 32px;
    }

    .catalogSubtitle {
        font-size: 14px;
    }

    .catalogRow {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}