.movie {
    display: flex;
    margin: 20px;
    padding: 5px;
}

.movieInfo {
    margin: 0 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.movieInfo > strong {
    font-size: 20px;
    margin-top: 10px;
    color: white;
}

.movieInfo > p {
    font-size: 14px;
    margin-top: 5px;
    color: #f0ff00;
}

.movieDescription {
    margin-top: 5px;
    font-size: 14px;
    color: white;
    cursor: default;
}

.imageMovieList {
    height: 240px;
    width: 160px;
}

.addToFavButton {
    height: 30px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #243051;
    background: #61dafb;
    margin-top: 20px;
    cursor: pointer;
}

.removeFromFavourites {
    height: 30px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #61dafb;
    background: #243051;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .movie {
        margin: 10px;
    }

    .movieInfo {
        margin: 0 10px;
    }

    .movieInfo > strong {
        font-size: 16px;
    }

    .movieDescription, .movieInfo > p {
        font-size: 12px;
        margin-top: 5px;
    }

    .imageMovieList {
        height: 135px;
        width: 90px;
    }

    .addToFavButton, .removeFromFavourites {
        margin-top: 10px;
        height: 20px;
        width: 60px;
        font-size: 10px;
        padding: 2px;
    }
}

@media (max-width: 700px) {
    .movieInfo > strong {
        font-size: 16px;
    }

    .movieDescription, .movieInfo > p {
        font-size: 12px;
        margin-top: 5px;
    }

    .imageMovieList {
        width: 100px;
        height: 150px;
    }
    .addToFavButton, .removeFromFavourites {
        margin-top: 5px;
        height: 15px;
        width: 50px;
        font-size: 8px;
        padding: 2px;
    }
}

@media (max-width: 500px) {
    .movieInfo > strong {
        font-size: 14px;
    }

    .movieDescription, .movieInfo > p {
        font-size: 10px;
    }

    .imageMovieList {
        width: 70px;
        height: 105px;
    }

    .addToFavButton, .removeFromFavourites {
        margin-top: 5px;
        height: 15px;
        width: 50px;
        font-size: 8px;
        padding: 2px;
    }
}