.movie {
    display: flex;
    margin: 30px;
    padding: 10px;
}

.movieInfo {
    margin: 0 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.movieInfo > strong {
    font-size: 22px;
    margin-top: 10px;
    color: white;
}

.movieInfo > p {
    font-size: 16px;
    margin-top: 10px;
    color: #fd00ff;
}

.movieDescription {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

img {
    width: 160px;
    border: 1px solid #f0ff00;
}

.addToFavButton {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background: #243051;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .movie {
        margin: 10px;
    }

    .movieInfo {
        margin: 0 10px;
    }

    .movieInfo > strong {
        font-size: 16px;
    }

    .movieDescription, .movieInfo > p {
        font-size: 12px;
        margin-top: 5px;
    }

    img {
        width: 90px;
    }
}

@media (max-width: 700px) {
    .movieInfo > strong {
        font-size: 18px;
    }

    .movieDescription, .movieInfo > p {
        font-size: 14px;
        margin-top: 5px;
    }

    img {
        width: 100px;
    }
}

@media (max-width: 500px) {
    .movieDescription, .movieInfo > p {
        font-size: 10px;
    }

    img {
        width: 70px;
    }
}